{% extends 'base.jinja' %}

{% block content %}
  <div>
  <h1>{{ student.name }}</h1>
  <p>Age: {{ student.age }}</p>
  <p>Hogwarts House: {{ student.house }}</p>
  <p>Are they good? {{ student.good }}</p>
  <a href="/students/{{ student.id }}/edit">Add Wand</a>
  </div>  
{% endblock content %}  <div>

</div>